<div id="masthead-container">
	<div id="masthead" class="container">
		<div id="masthead-logo">
			<a href="/"><%= image_tag 'logo-small.png', :width => '40', :height => '40', :alt => '{(v)}', :itemprop => "image" %> <span><em itemprop="name">Darren Newton Creative Services</em></span></a>
		</div>
		<nav>
			<ul>
				<li><%= link_to 'Home', '/' %></li>
				<li><%= link_to 'Work', '/work' %></li>
				<li><%= link_to 'Blog', 'http://darrenknewton.com' %></li>
				<li><%= link_to 'About', 'http://darrenknewton.com/biography/' %></li>
			</ul>
		</nav>
	</div>
</div>